extends layout

block title
  h1 #{title}: #{book.title}
block another_content
  div(class='book_detail')
    div(class='book_detail_image')
      <img src="#{book.book_image}" class="rounded" alt="book-image">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Get A Copy">
   


    div(class='book_detail_info')
      p #[strong Author:] 
          li
            a(href=book.author.url) #{book.author.name}
      p #[strong Review:] #{book.review}
      p #[strong Genre:]&nbsp;
        each val, index in book.genre
          a(href=val.url) #{val.name}
          if index < book.genre.length - 1
            |, 
      
      div(style='margin-left:20px;margin-top:20px')

      