extends layout
block title

block content
    each book in book_list
        //- <div id="app" class="container">
        //-     <card data-image='#{book.book_image}'>
        //-         <h1 slot="header">#{book.title}</h1>
        //-     </card>
        //- </div>
        div(class='object-block')
            div(class='text-center')
                <img src="#{book.book_image}" class="rounded" alt="book-image">
            div(class='text-center')
                a(href=book.url) #{book.title}
                 
          
    else
        li There are no books.
    